<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.dbcenter">

    <application>
        <provider
            android:authorities="${applicationId}.DataProvider"
            android:name="com.android.dbcenter.DataProvider"
            android:process=":center"
            android:multiprocess="false"/>
    </application>

</manifest>
